<div
  class="modal"
  [class.is-active]="isWhatsNewModalActive"
  data-test-id="whats-new-modal">
  <div class="modal-background" (click)="onClickCloseWhatsNewModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5">What's new?</p>
      <button
        class="delete"
        aria-label="close"
        (click)="onClickCloseWhatsNewModal()">
      </button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <h2 class="is-size-6">v1.4.0</h2>
        <ul>
          <li>All of the alternative ride type names (such as Fire Cracker Ride for the Enterprise) are now included in the ride type list.</li>
        </ul>
        <h2 class="is-size-6">v1.3.0</h2>
        <ul>
          <li>You can now choose between the three admission modes for a park, with prices calculated accordingly.</li>
          <li>When creating a new ride, the default ride name now has an incrementing number instead of always being '1'.</li>
        </ul>
        <h2 class="is-size-6">v1.2.0</h2>
        <ul>
          <li>You can now view minimum stat requirements and corresponding rating penalties for rides that have them by clicking on the 'View ride data' button.</li>
          <li>The 'upgrade ride age' button has been replaced with a 'refurbish' button which resets a ride's age.</li>
          <li>When the park has an entrance fee, the 'show good value prices' checkbox is hidden rather than disabled.</li>
        </ul>
        <h2 class="is-size-6">v1.1.0</h2>
        <ul>
          <li>You can now see a calculated recommended park entrance fee, based on the value of all the open rides in your park.</li>
        </ul>
        <h2 class="is-size-6">v1.0.1</h2>
        <ul>
          <li>Fixed a few bugs that occurred when using the 'Delete all rides' option.</li>
        </ul>
      </div>
    </section>
    <footer class="modal-card-foot inv-flex-end">
      <button        
        class="button is-primary"
        (click)="onClickCloseWhatsNewModal()">
        OK
      </button>
    </footer>
  </div>
</div>
<div class="inv-container">
  <section class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Invalio's RCT2 Fleecer
        </h1>
      </div>
    </div>
  </section>
  <main class="inv-main">
    <div class="inv-head">
      <div class="container">
        <h2 class="subtitle">Park settings</h2>
        <div class="buttons has-addons">
          <button
            class="button"
            [class.is-primary]="saveData.options.gameVersion === GameVersion.VanillaRct2"
            (click)="onClickGameVersion(GameVersion.VanillaRct2)">
            RCT1
          </button>
          <button
            class="button"
            [class.is-primary]="saveData.options.gameVersion === GameVersion.VanillaRct2"
            (click)="onClickGameVersion(GameVersion.VanillaRct2)">
            RCT2
          </button>
          <button
            class="button"
            [class.is-primary]="saveData.options.gameVersion === GameVersion.OpenRct2"
            (click)="onClickGameVersion(GameVersion.OpenRct2)">
            OpenRCT2
          </button>
        </div>
        <div class="field">
          <input
            class="is-checkradio"
            id="admissionModeRadio1"
            type="radio"
            name="admissionModeRadio"
            [value]="AdmissionMode.FreeParkEntryPayPerRide"
            [(ngModel)]="park.admissionMode"
            (change)="onChangeParkAdmissionMode()">
          <label for="admissionModeRadio1">Free park entry / Pay per ride</label>
        </div>
        <div class="field">
          <input
            class="is-checkradio"
            id="admissionModeRadio2"
            type="radio"
            name="admissionModeRadio"
            [value]="AdmissionMode.PayToEnterParkFreeRides"
            [(ngModel)]="park.admissionMode"
            (change)="onChangeParkAdmissionMode()">
          <label for="admissionModeRadio2">Pay to enter park / Free rides</label>
        </div>
        <div class="field">
          <input
            class="is-checkradio"
            id="admissionModeRadio3"
            type="radio"
            name="admissionModeRadio"
            [value]="AdmissionMode.PayToEnterParkPayPerRide"
            [(ngModel)]="park.admissionMode"
            (change)="onChangeParkAdmissionMode()">
          <label for="admissionModeRadio3">Pay to enter park / Pay per ride</label>
        </div>
        <div
          *ngIf="park.admissionMode === AdmissionMode.FreeParkEntryPayPerRide"
          class="field">
          <br>
          <input
            id="parkShowGoodValuePriceCheckbox"
            class="is-checkradio"
            type="checkbox"
            name="parkShowGoodValuePriceCheckbox"
            [(ngModel)]="park.showGoodValuePrice"
            (change)="onChangeShowGoodValuePrices()">
          <label for="parkShowGoodValuePriceCheckbox">Show 'good value' prices</label>
        </div>
        <div
          *ngIf="park.admissionMode === AdmissionMode.PayToEnterParkFreeRides ||
                park.admissionMode === AdmissionMode.PayToEnterParkPayPerRide"
          data-test-id="recommended-park-entrance-fee-section">
          <p>Recommended park entrance fee:</p>
          <p>
            <strong class="is-size-4 has-text-primary">{{getRecommendedParkEntranceFeeString()}}</strong>
          </p>
          <div class="modal"
            [class.is-active]="isRecommendedParkEntranceFeeModalActive"
            data-test-id="recommended-park-entrance-fee-modal">
            <div class="modal-background" (click)="onCloseRecommendedParkEntranceFeeModal()"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title is-size-5">Recommended park entrance fee</p>
                <button
                  class="delete"
                  aria-label="close"
                  (click)="onCloseRecommendedParkEntranceFeeModal()">
                </button>
              </header>
              <section class="modal-card-body">
                <div class="content">
                  <p>This amount is the maximum you can charge for your park without incurring penalties, and is based on the total value of all the operational rides in your park.</p>
                  <p>An entrance fee above this amount will cut your scenario guest generation by 75%, and also makes you eligible to recieve the 'Worst value park' award at the start of the month, which will further cut your guest generation by 25%.</p>
                  <p>Despite all this, you won't actually recieve warning messages about your park entrance fee being too high until is it about 50% higher than this value.</p>
                  <p>Your rides must be open and operational. They don't count towards the park entrance value if they are closed, in testing, broken down or currently experiencing a crash. Rides that have crashed and since re-opened are okay.</p>
                  <p>Also be sure to not charge more money for the park entrance than the lowest amount of money a guest can spawn with, or you will be turning them away at the gate!</p>
                </div>
              </section>          
              <footer class="modal-card-foot inv-flex-end">
                <button
                  class="button is-primary"
                  (click)="onCloseRecommendedParkEntranceFeeModal()">
                  OK
                </button>
              </footer>
            </div>
          </div>
          <button
            class="button is-primary is-small is-rounded"
            (click)="onClickRecommendedParkEntranceFeeWhy()">
            Why?
          </button>
        </div>
      </div>
    </div>
    <div
      class="has-background-light inv-ride"
      [attr.data-test-id]="'ride-' + i"
      *ngFor="let ride of rides; let i = index">
      <div class="container">
        <app-ride
          [ride]="ride"
          [index]="i"
          [saveData]="saveData"
          [isExpanded]="expandedRideIndex === i"
          (rideExpandToggled)="onRideExpandToggled($event)">
        </app-ride>
      </div>
    </div>
    <div class="modal"
      [class.is-active]="isDeleteAllRidesModalActive"
      data-test-id="delete-all-rides-modal">
      <div class="modal-background" (click)="onCloseDeleteAllRidesModal()"></div>
      <div class="modal-content">
        <div class="box">
          <p class="content">Are you sure you want to delete all rides?</p>
          <div class="buttons is-right">
            <button class="button" (click)="onCloseDeleteAllRidesModal()">Cancel</button>
            <button
              class="button is-danger"
              data-test-id="delete-all-rides-confirm"
              (click)="onClickDeleteAllRides()">
              Delete all rides
            </button>
          </div>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" (click)="onCloseDeleteAllRidesModal()"></button>
    </div>
    <div class="inv-actions">
      <div class="container">
        <div class="buttons">
          <button
            class="button is-primary"
            data-test-id="add-new-ride"
            (click)="onClickAddNewRide()">
            <span class="icon">
              <i class="fa fa-plus"></i>
            </span>
            <span>
              Add new ride
            </span>
          </button>
          <button
            class="button"
            data-test-id="delete-all-rides"
            (click)="onClickAttemptDeleteAllRides()">
            <span class="icon">
              <i class="fa fa-trash"></i>
            </span>
            <span>
              Delete all rides
            </span>
          </button>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>