<div class="ride">
    Type:
    <select [(ngModel)]="ride.type" (change)="onSelectRideType()">
      <option
        *ngFor="let rideType of rideTypes"
        [ngValue]="rideType">
        {{rideType.name}}
      </option>
    </select> <br>
    Age: &lt; {{ride.age.months}} months<br>
    <input
      [(ngModel)]="ride.name"
      [disabled]="ride.type === undefined">
    <table>
      <thead>
        <tr>
          <td>Excitement:</td>
          <td>
            <input
              class="ride__rating"
              type="number"
              min="0"
              max="255"
              [(ngModel)]="ride.excitement">
          </td>
        </tr>
        <tr>
          <td>Intensity:</td>
          <td>
            <input
              class="ride__rating"
              type="number"
              min="0"
              max="255"
              [(ngModel)]="ride.intensity">
          </td>
        </tr>
        <tr>
          <td>Nausea:</td>
          <td>
            <input
              class="ride__rating"
              type="number"
              min="0"
              max="255"
              [(ngModel)]="ride.nausea">
          </td>
        </tr>
      </thead>
    </table>
    <p *ngIf="getMaxPriceString()">Maximum ride price: <strong>{{getMaxPriceString()}}</strong></p>
    <p *ngIf="getMinPriceString()">Great value price: <strong>{{getMinPriceString()}}</strong></p>
  </div>