<div class="field">
  <div class="select is-primary is-fullwidth">
    <select
      data-test-id="ride-type"
      (change)="onSelectRideType($event.target.value)">
      <option
        [selected]="ride.typeId === undefined"
        disabled hidden>Ride type</option>
      <option
        *ngFor="let rideTypeOption of rideTypeOptions"
        [selected]="ride.typeId === rideTypeOption.id"
        [value]="rideTypeOption.id">
        {{rideTypeOption.name}}
      </option>
    </select>
  </div>
</div>
<div class="field">
  <div class="select is-primary is-fullwidth">
    <select (change)="onSelectRideAge($event.target.value)">
      <option
        *ngFor="let rideAgeOption of rideAgeOptions"
        [selected]="ride.age === rideAgeOption.id"
        [value]="rideAgeOption.id">
        {{rideAgeOption.name}}
      </option>
    </select>
  </div>
</div>
<div class="field has-addons">  
  <p class="control inv-rating">
    <a class="button is-primary inv-rating-inner">
      Excitement
    </a>
  </p>
  <p class="control is-expanded">
    <input
      class="input is-primary"
      type="number"
      min="0"
      [max]="this.maxRideRatingValue"
      step="0.01"
      (input)="onChangeRideRating()"
      [(ngModel)]="ride.excitement">
  </p>
</div>
<div class="field has-addons">  
  <p class="control inv-rating">
    <a class="button is-primary inv-rating-inner">
      Intensity
    </a>
  </p>
  <p class="control is-expanded">
    <input
      class="input is-primary"
      type="number"
      min="0"
      [max]="this.maxRideRatingValue"
      step="0.01"
      (input)="onChangeRideRating()"
      [(ngModel)]="ride.intensity">
  </p>
</div>
<div class="field has-addons">  
  <p class="control inv-rating">
    <a class="button is-primary inv-rating-inner">
      Nausea
    </a>
  </p>
  <p class="control is-expanded">
    <input
      class="input is-primary"
      type="number"
      min="0"
      [max]="this.maxRideRatingValue"
      step="0.01"
      (input)="onChangeRideRating()"
      [(ngModel)]="ride.nausea">
  </p>
</div>
<div [class]="'modal ' + deleteModalClass">
  <div class="modal-background" (click)="onCloseDeleteModal()"></div>
  <div class="modal-content">
    <div class="box">
      <p class="content">Are you sure you want to delete <strong>{{ride.name ? ride.name : 'Unnamed ride'}}</strong>?</p>
      <div class="buttons is-right">
        <button class="button" (click)="onCloseDeleteModal()">Cancel</button>
        <button class="button is-danger" (click)="onDelete()">Delete ride</button>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="onCloseDeleteModal()"></button>
</div>
<div
  *ngIf="ride.duplicates !== undefined && ride.duplicates.length > 0"
  class="box content">
  <p>This ride is a duplicate of:</p>
  <ul>
    <li *ngFor="let duplicate of ride.duplicates">{{duplicate === undefined || duplicate === '' ? 'Unnamed ride' : duplicate}}</li>
  </ul>
</div>
<div class="buttons is-right">
  <button class="button is-danger" (click)="onAttemptDelete()">
    <span class="icon">
      <i class="fa fa-trash"></i>
    </span>
  </button>
</div>