<footer class="footer">
  <div class="content">
    <p><strong>RCT2 Fleecer</strong> v0.1 by Invalio.</p>
    <p><a href="https://github.com/invalio19/rct2-fleecer" target="_blank">Source code</a> is licensed <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>. Bugs and feature requests can be raised <a href="https://github.com/invalio19/rct2-fleecer/issues" target="_blank">here</a>.</p>
    <p>Thanks to:</p>
    <ul>
      <li><a href="https://www.youtube.com/channel/UCcU9si2fIVJ-KoIDX9xYpdw" target="_blank">Deurklink</a>, for his <a href="https://forums.openrct2.org/topic/2737-guide-how-much-can-you-charge-for-your-rides/">work</a> in uncovering how the ride pricing is determined.</li>
      <li><a href="https://www.youtube.com/channel/UCBlXovStrlQkVA2xJEROUNg" target="_blank">Marcel Vos</a>, for <a href="https://www.youtube.com/watch?v=rUGUwZIr4n0" target="_blank">explaining</a> how this and many other RCT2 mechanics work.</li>
      <li><a href="https://www.youtube.com/shottysteve" target="_blank">Shottysteve</a>, for designing the <a href="https://rct2calc.shottysteve.com/" target="_blank">calculator</a> that helped inspire this one.</li>
      <li><a href="http://intelorca.co.uk/" target="_blank">Ted 'IntelOrca' John</a> and the various contributors to the <a href="https://openrct2.org/">OpenRCT2</a> project.</li>
    </ul>
  </div>
</footer>