$primary: #09f;
$success: #6c6;
$danger: #f33;

@import "../node_modules/bulma/bulma.sass";

.inv-head, .inv-ride, .inv-footer {
  padding: 1.5rem;
}

.inv-ride {
  background-color: #ddd;
  margin-bottom: .75rem;
}