$primary: #09f;
$danger: #f33;

@import "../node_modules/bulma/bulma.sass";

.inv-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.inv-main {
  flex: 1;
}

.inv-head, .inv-ride, .inv-actions {
  padding: 1.5rem;
}

.inv-disabled[disabled] {
  opacity: 1;
  cursor: default;
}

.inv-ride {
  margin-bottom: .75rem;
}

.inv-rating {
  width: 35%;
}

.inv-rating-inner {
  width: 100%;
}

.inv-flex-end {
  justify-content: flex-end;
}